<%= form_for(hospital) do |f| %>
<% if hospital.errors.any? %>
<div id="error_explanation">
  <h5 class="alert alert-danger" role="alert">エラーが<%= pluralize(hospital.errors.count, "件") %>あります。</h5>

  <ul>
    <% hospital.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<form>
  <div class="field form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control", placeholder: "病院名" %>
  </div>

  <div class="msr_file">
    <%= f.label "イメージ画像を選択" %>
  <%= f.attachment_field :hospital_image %>
  </div>


      <div class="form-group">
        <label>診療対象動物</label><br>
        <%= f.collection_check_boxes :pet_ids, Pet.all, :id, :name, include_hidden: false do |b| %>
        <%= b.label { b.check_box + b.text } %>
        <% end %>
    </div>

  <div class="field form-group">
    <label>診療日</label><br>
    <% days = ["月","火","水","木","金","土","日","祝"] %>
    <% days.each do |day| %>
    <%= f.check_box :day , {multiple: true}, day, nil %>
    <%= f.label :day, day %>
    <% end %>
  </div>

  <div class="field form-group">
    <%= f.label :tel %>
    <%= f.text_field :tel, class: "form-control", placeholder: "数字を入力" %>
  </div>

  <div class="field form-group">
    <%= f.label :caption %>
    <%= f.text_area :caption, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class: "form-control", placeholder: "住所" %>
  </div>

  <div class="field form-group">
    <%= f.label :latitude %>
    <%= f.text_field :latitude, class: "form-control", placeholder: "緯度" %>
  </div>

  <div class="field form-group">
    <%= f.label :longitude %>
    <%= f.text_field :longitude, class: "form-control", placeholder: "経度" %>
  </div>

  <div class="field form-group">
    <%= f.label "診療時間" %><br>
    <%= f.fields_for :practice_times do |time| %>

      <%= render 'practice_time_fields', f: time %>

    <% end %>
    <div id="links">
      <%= link_to_add_association '項目の追加', f, :practice_times %>
    </div>

  <div class=" msr_sendbtn">
    <%= f.submit %>
  </div>
  <% end %>

</form>