<div class="table-responsive">
    <table class="table table-striped background-content" >
        <thead>
            <tr>
                <th class="col-sm-2">病院名</th>
                <th class="col-sm-2">診療日</th>
                <th class="col-sm-2">診療時間</th>
                <th class="col-sm-2">住所</th>
                <th class="col-sm-2">診療動物</th>
                <% if current_user.try(:admin?) %>
                <th class="col-sm-1">緯度・経度</th>
                <% end %>
                <th class="col-sm-1"></th>
            </tr>
        </thead>
        <tbody>
            <% results.each do |result| %>
            <tr>
                <td>
                    <%= result.name %>
                </td>
                <td>
                    <% result.days.each do |day| %>
                    <div class="badge badge-orange">
                        <%= day.name %>
                    </div>
                    <% end %>
                </td>
                <td>
                    <% result.practice_times.each do |time| %>
                    <%= time.start_time.to_s(:time) %> ～
                    <%= time.end_time.to_s(:time) %><br>
                    <% end %>
                </td>
                <td>
                    <%= result.address %>
                </td>
                <td>
                    <% result.pets.each do |pet| %>
                    <div class="badge badge-pink">
                        <%= pet.name %>
                    </div>
                    <% end %>
                </td>
                <% if current_user.try(:admin?) %>
                <td>
                    緯度：<%= result.latitude %><br>
                    経度：<%= result.longitude %>
                </td>
                <% end %>
                <td>
                    <div class="table-btn">
                        <%= link_to '詳細', result, class: "cp_primary" %>
                        <% if current_user.try(:admin?) %>
                        <%= link_to '編集', edit_hospital_path(result), class: "cp_success" %>
                        <%= link_to '削除', result, method: :delete, data: { confirm: '削除しますか?' }, class: "cp_destroy" %>
                        <% end %>
                    </div>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>

    <div class="pagination">
        <%= paginate @results , class: "pagenate" %>
    </div>

</div>