<div class="row">
  <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 background-content">


    <h2 class="text-center"><%= @hospital.name %></h2>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <%= attachment_image_tag @hospital, :hospital_image, :fill, 250, 250, format: 'jpeg', fallback: "/images/noimage.jpg", :size => "250x250", class: "center-block" %>
      </div>

      <div class="col-xs-12 col-sm-6 text-center">
        <div>
          <span class="badge badge-orange">住所</span><br>
          <%= @hospital.address %>
        </div>

        <div>
          <span class="badge badge-pill badge-orange">TEL</span><br>
          <%= @hospital.tel %>
        </div>

        <div>
          <span class="badge badge-pill badge-orange">診療日</span><br>
          <%= @hospital.day %>
        </div>

        <div>
          <span class="badge badge-pill badge-orange">診療時間</span><br>
          <% @practice_time.each do |time| %>
          <%= time.start_time.to_s(:time) %> ～
          <%= time.end_time.to_s(:time) %><br>
          <% end %>
        </div>

        <div>
          <span class="badge badge-pill badge-orange">ペット種別</span><br>
          <%= @hospital.pet %>
        </div>
      </div>
    </div>

    <h2 class="text-center">アクセス</h2>
    <div class="col-xs-12">
      <div id="map" style="height: 500px;"></div>
    </div>

    <%= link_to 'Edit', edit_hospital_path(@hospital) %> |
    <%= link_to 'Back', hospitals_path %>

    <script>
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(15);
      });
    </script>

  </div>
</div>