<div class="row">
  <div class="col-xs-12 col-sm-offset-1 col-sm-10">
    <p id="notice"><%= notice %></p>

    <p>
      <%= @hospital.name %>
    </p>

    <p>
      <%= attachment_image_tag @hospital, :hospital_image, :fill, 100, 100, format: 'jpeg' %>
    </p>

    <p>
      <strong>Caption:</strong>
      <%= @hospital.caption %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @hospital.description %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @hospital.address %>
    </p>

    <p>
      <strong>Latitude:</strong>
      <%= @hospital.latitude %>
    </p>

    <p>
      <strong>Longitude:</strong>
      <%= @hospital.longitude %>
    </p>

    <p>
      <strong>Tel:</strong>
      <%= @hospital.tel %>
    </p>

    <p>
      <strong>Time:</strong>
      <% @practice_time.each do |time| %>
      <%= time.start_time.to_s(:time) %> ～
      <%= time.end_time.to_s(:time) %>
      <% end %>
    </p>

    <p>
      <strong>Pet:</strong>
      <%= @hospital.pet %>
    </p>

    <p>
      <strong>Day:</strong>
      <%= @hospital.day %>
    </p>

    <p>
      <strong>Tag:</strong>
      <%= @hospital.tag %>
    </p>

    <%= link_to 'Edit', edit_hospital_path(@hospital) %> |
    <%= link_to 'Back', hospitals_path %>

    <div class="col-xs-12">
      <div id="map" style='height: 500px;'></div>
    </div>
    <script>
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(15);
      });
    </script>

  </div>
</div>